# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/
data/ex2_clean
data/ex2_lemm
data\embeddings
# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Logs / temp
# ========================
*.log
*.tmp

# ========================
# Outputs / results (si générés)
# ========================
outputs/

embeddings/
evaluation/results/answers_embeddings.npy
# ========================
# Evaluation auto
# ========================
evaluation/__pycache__/
